@import url('<link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">');

.modalPoster{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 2rem;
  // background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__content {
    display: flex;
      padding: toRem(12) toRem(36) 0 toRem(36);
      margin-top: toRem(240);
      height: 80%;
      justify-content: center;
      background-color: white;
      font-size: 4rem;
      font-family:'Happy Monkey', cursive;
      background-image: url("../../assets/modal-bg-image/modal-bg-gif.gif");
      width: 60%;
      align-items: center;
      justify-content: center;
    }
  }