@use "../../styles/partials/global";

.modalPoster {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__content {
    display: flex;
    padding: 4rem;
    height: 55%;
    font-size: 3rem;
    line-height: 1.5;
    font-family: "Monkey";
    font-weight: 600;
    background-image: url("../../assets/modal-bg-image/modal-bg-gif.gif");
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.8;
    &--text1{
      font-weight: 900;
      color:red;
    }
  }
  &__close {
    position: fixed;
    top: 8rem;
    right: 22rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 50%;
  }
  &__music {
    position: fixed;
    top: 35rem;
    left: 32rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10%;
    background-color:orange;
  }
  &__pause {
    position: fixed;
    top: 35rem;
    right: 32rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10%;
    color: black;
    background-color:lightblue;
  }

}
