.signUp {
  max-width: 26rem;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--input {
      outline-width: 0;
      height: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-radius: 0.3125rem;
      border: none;
      padding: 0.25rem 0.8125rem;
      background-color: #333;
      margin-right: 0;
      width: 90%;
    }
    &--button {
      padding: 1rem 1.2rem;
      font-size: 1rem;
      color: #fff;
      border-radius: 0.4rem;
      background-color: #e50914;
      font-weight: 600;
      border: none;
      cursor: pointer;
      margin-top: 1.2rem;
      width: 95%;
    }
    &--heading4 {
      margin-top: 1rem;
    }
    &--span-heading4 {
      color: gray;
    }
    &--spanlink:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

// .signUp__form{
//   display: flex;
// flex-direction: column;
// }
