.searchBox{
  padding: 1rem;
  display: inline-block;
  vertical-align:middle;
  // margin-left: 1rem;
&__input{

  width:20rem;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  border-style: none;
  // object-fit: contain;
}}