//logomakr.com/app/90mBpB
//logomakr.com/app/6847ol
.NavBar{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  z-index: 1;
  height: 2rem;
  opacity: .8;

  &__logo{
    position: absolute;
    left: 1.125rem;
    width:5rem ;
    object-fit: contain;
  }
  &__text{
    position: absolute;
    top:1rem;
    right: 13rem;
    border: none;
    width:20rem;
    height: 2rem;
    object-fit: contain;
    font-size: 1.2rem;
    color: #fff;
    background-color: #e50914;
    z-index:12;
    padding-left: 1rem;
    font-weight: 600;
  }
  &__userIcon{
    position: absolute;
    top:1rem;
    right: 12rem;
    border: none;
    width:2rem;
    height: 2rem;
    object-fit: contain;
    z-index:12
  }
  &__button{
    position: absolute;
    top:1rem;
    right: 6rem;
    border: none;
    width:6rem;
    height: 2rem;
    object-fit: contain;
    font-size: 1.2rem;
    color: #fff;
    background-color: #e50914;
    z-index:12;
    font-weight: 600;
  }
}

