//logomakr.com/app/90mBpB
//logomakr.com/app/6847ol
.NavBar{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  z-index: 1;
  height: 2rem;
  opacity: .8;
&__change{
  transition-duration: 4000ms;
background-color: #111;
opacity: 0.8;
}
  &__logo{
    position: fixed;
    left: 1.125rem;
    width:5rem ;
    object-fit: contain;
  }
  &__input{
    position: fixed;
    right: 10rem;
    width:20rem;
    border: none;

    height: 2rem;
    object-fit: contain;
  }
  &__userIcon{
    position: fixed;
    top:1rem;
    right: 10rem;
    border: none;
    width:2rem;
    height: 2rem;
    object-fit: contain;
    z-index:12
  }
  &__button{
    position: fixed;
    top:1rem;
    right: 6rem;
    border: none;
    width:4rem;
    height: 2rem;
    object-fit: contain;
    z-index:12
  }
}

